.item {
    background-color: #63A9DD;
    flex: 1;
    margin: 4px;
    text-align: center;
    color: black;
    width: 80%;
    font-weight: bold;
    cursor: pointer;
}

.flexgrid {
    display: flex;
    height: 98vh
}
.right-side {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.right-side > * {
    width: 100%;
}
.right-bottom, .right-top {
    display: flex;
}


.device-status-acqoff{
    background:#696969
}
.device-status-maintenance{
  background:#696969;
  border:3px solid #ff9c4c
}
.device-status-off{
  background:#CECECE;
}
.device-status-alarm{
  background:#de6262;
  color: white;
}
.device-status-fsm{
  border:3px solid #63A9DD
}
.device-status-fsm-filled{
  background:#63A9DD
}
.device-status-on{
  background:#6ec580
}
